@import "tailwindcss";
@import "shadcn/tailwind.css";

:root {
  --base: #0F0E0D;
  --accent: #C9C8C5;
}

@layer base {
  body {
    background-color: #0F0E0D;
    color: #C9C8C5;
    @apply min-h-screen w-full font-sans;
  }

  html {
    scroll-behavior: smooth;
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  p {
    font-family: var(--font-satoshi), "Inter", "Helvetica Neue", Arial, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-stardom), "Playfair Display", "Times New Roman", serif;
  }
}